<% content_for :submenu1 do %>
/members/<%= @member.id %>/edit
<% end %>
<% content_for :submenu1text do %>
Edit
<% end %>
<% content_for :submenu2 do %>
/members/<%= @member.id %>/archive_or_delete
<% end %>
<% content_for :submenu2text do %>
Archive
<% end %>

<div class="">
  <div class="">

<h1>Archive or Delete?</h1>
<h2 class= "text-alert">Archive member:</h2>
<form action="/members/<%= @member.id %>/archive" method="post">
  <input type="submit"value="Archive">
</form>

<h2 class= "text-alert">Delete cannot be recovered</h2>
<form action="/members/<%= @member.id %>/delete" method="post">
  <input type="submit"value="Delete">
</form>
</div>

<ul class = "box_of_squares">
  <li class = "square">
    <p  class="square_main"><%= @member.name %></p>
    <div class="square_footer">
      <p class="light_text">Status: <%= @member.status %></p>
      <p class="light_text">Membership: <%= @member.membership %></p>
    </div>
  </li>
</ul>
</div>
