<% content_for :submenu1 do %>
/members/<%= @member.id %>/edit
<% end %>
<% content_for :submenu1text do %>
Edit
<% end %>
<% content_for :submenu2 do %>
/members/<%= @member.id %>/archive_or_delete
<% end %>
<% content_for :submenu2text do %>
Archive | Delete
<% end %>

<h1>Member details:</h1>

<ul class = "box_of_squares">
  <li class = "square">
    <p  class="square_main"><%= @member.name %></p>
    <div class="square_footer">
      <p class="light_text">Status: <%= @member.status %></p>
      <p class="light_text">Membership: <%= @member.get_membership.name %></p>
    </div>
    <div>
      <% if @member.attendance == [] %>
        <h3> No classes yet!</h3>
      <% else %>
        <h3> Member attendance:</h3>
        <% for lesson in @member.attendance() %>
        <div class="footer_list">
          <div class="square_footer">
          <p class="light_text"><%= lesson.name %></p>
          <p class="light_text"><%= lesson.course_date %></p>
        </div>

        </div>
        <% end  %>
      <% end  %>

    </div>

  </li>
</ul>
