<% content_for :submenu1 do %>
/venues/<%= @venue_id %>/course_c
<% end %>
<% content_for :submenu1text do %>
Show all
<% end %>
<% content_for :submenu2 do %>
/venues/<%= @venue_id %>/course_c/new
<% end %>
<% content_for :submenu2text do %>
Create a class
<% end %>

<p class="text-alert">Are you sure you want to delete the class <%= @class.name %>?</p>
<p>It has <%= @members_count %> member/s.</p>

<form action="/venues/<%= @class.venue_id %>/course_c/<%= @class.id %>/delete" method="post">
  <input type="submit" value="Delete this class!" >
</form>
