<h1>Edit class's details in venue <%= @venue_id %>:</h1>
<% if @class.members_count > 0  %>
<p class="text-alert">There are already members signed in for this class. <br> If you change the Membership required, it will only affect future bookings.</p>
<% end %>

<form class="" action="/venues/<%= @venue_id %>/course_c/<%= @class.id %>/update" method="post">
  <label for="class_name">Class Name:</label>
  <input type="text" name="name" id="class_name" value="<%= @class.name %>">

  <label for="course_date">Class date: </label>
  <input type="date" min="<%= Date.today %>" max="<%= Date.today + 365 %>" name="course_date" id="course_date" value="<%= @class.course_date %>">

  <label for="max_capacity">Max Capacity:</label>
  <input type="number" min=<%= @class.members_count %> name="max_capacity" id="max_capacity" value ="<%= @class.max_capacity %>">

  <label for="venue_id">Venue:</label>
  <select class="" name="venue_id">
    <option value="<%= @venue_id %>" Selected><%= @class.venue_name.capitalize %></option>
  </select>

<label for="membership_id">Membership required:</label>
<select class="" name="membership_id">
<% for membership in @memberships %>
    <option value="<%= membership.id %>" <% if @class.membership == membership.name %>Selected<% end %>><%= membership.name %></option>
<% end %>
  </select>


  <input class="" type='submit' value="Submit">

</form>
