<% if @classes == [] %>
<h1>No classes..Why not adding some?</h1>
<% else %>
<h1>Here are all the classes for this venue</h1>

  <ul>
    <% for course_class in @classes %>
    <li>
      <a href="/venues/<%= @venue_id%>/course_c/<%= course_class.id %>"><%= course_class.name %></a>
    </li>
    <% end %>
  </ul>
<% end %>


<% if @empty_classes == [] %>
<br>
<% else %>
  <h2>Hey, some classes look empty..</h2>
  <ul>
    <% for course_class in @empty_classes %>
    <li>
      <a href="/venues/<%= @venue_id%>/course_c/<%= course_class.id %>"><%= course_class.name %></a>
    </li>
    <% end %>
  </ul>
<% end %>


<% if @full_classes == [] %>
<br>
<% else %>
  <h2>Yuppie, some classes are full!</h2>
  <ul>
    <% for course_class in @full_classes %>
    <li>
      <a href="/venues/<%= @venue_id%>/course_c/<%= course_class.id %>"><%= course_class.name %></a>
    </li>
    <% end %>
  </ul>
<% end %>


<h2>Create a <a href="/venues/<%= @venue_id %>/course_c/new">NEW</a> one</h2>
