<% if @new_course_class == nil %>
<p>It's not possible to create any more classes for this week <%= @course_class.course_date %></p>
<p>Choose another date</p>
<a href="/venues/<%= @course_class.venue_id %>/course_c/new"> Back</a>
<% else %>
<p>You have successfully created a new class!</p>
<a href="/venues/<%= @course_class.venue_id %>/course_c/<%= @course_class.id %>">See Class</a>
<a href="/venues/<%= @course_class.venue_id %>">Back to Venue</a>
<% end %>
