<% content_for :submenu1 do %>
/venues/<%= @venue.id %>/edit
<% end %>
<% content_for :submenu1text do %>
Edit
<% end %>
<% content_for :submenu2 do %>
/venues/<%= @venue.id %>/delete
<% end %>
<% content_for :submenu2text do %>
Delete
<% end %>

<!-- <p>Here is the dashboard for this venue</p> -->
<h1><%= @venue.name %></h1>
<div class="box_of_squares">
  <div class="square">
    <div class="square_main">Address: </div>
    <div class="square_footer light_text"> <p><%= @venue.address %></p> </div>
  </div>

    <div class="square">
    <div class="square_main">Max n. of classes: </div>
    <div class="square_footer light_text"> <p><%= @venue.max_number_classes %></p> </div>
  </div>
</div>


<% if @venue.is_full %>
<h2 class="text-alert">This venue is full: you cannot create any more classes</h2>
<p>Maybe it's time to open a new venue?</p>
<% end %>

<br>
<a href="/venues/<%= @venue.id %>/course_c">See classes</a>

<!-- MVP: venue will show the classes of the venue
EXT: venue show will show the dashboard of the venue -->

<!-- see all classes -->

<ul class = "box_of_squares">
<% for course_c in @classes %>
  <li class = "square">
      <a  class="square_main" href=""><%= course_c.name %></a>
      <div class="square_footer">
        <a  class="light_text" href="">something</a>
        <a  class="light_text" href="">something</a>
      </div>
  </li>
<% end %>
</ul>
