<% content_for :submenu1 do %>
/venues/?
<% end %>
<% content_for :submenu1text do %>
Show all
<% end %>
<% content_for :submenu2 do %>
/venues/new
<% end %>
<% content_for :submenu2text do %>
Create New
<% end %>

<!-- <p>Here is the dashboard for this venue</p> -->
<h1><%= @venue.name %></h1>
<div class="box_of_squares">
  <div class="square">
    <div class="square_main">Address: </div>
    <div class="square_footer light_text"> <p><%= @venue.address %></p> </div>
  </div>

    <div class="square">
    <div class="square_main">Max n. of classes: </div>
    <div class="square_footer light_text"> <p><%= @venue.max_number_classes %></p> </div>
  </div>
</div>


<% if @venue.is_full %>
<h2>This venue is full: you cannot create any more classes</h2>
<p>Maybe it's time to open a new venue?</p>
<% end %>

<br>
<a href="/venues/<%= @venue.id %>/course_c">See classes</a>

<!-- MVP: venue will show the classes of the venue
EXT: venue show will show the dashboard of the venue -->

<!-- delete this venue -->
<br>
<form  action="/venues/<%= @venue.id %>/delete" method="get">
  <input type="submit" value="Delete" >
</form>
<br>
